{% extends "base.html" %}
{% block content %}
    <h1>Recipes Page</h1>

    <div class="row">
        {% for r in recipe %}
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="{{ r.recipe_img_url }}">
                </div>
                <div class="card-content">
                    <span>{{ r.category_name }}</span>
                    <span class="card-title">{{ r.recipe_name }}</span>
                    <span>{{ r.prep_time }}</span>
                    <p><em>by: {{ r.created_by }}</em></p>
                </div>
                <div class="card-action">
                    <a href="#">View Recipe</a>
                    <a href="" class="btn-small green accent-2">Edit</a>
                    <a href="" class="btn-small red accent-2">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}